.game-setup {
  padding: 20px !important;
}

.hangman-img-intro {
  margin: 20px 0px;
  flex-grow: 1;
  text-align: center;
}

.hangman-buttons .button {
    display: block;
    width: 65%;
    background: black;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    cursor: pointer;
    margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.timer {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.timer p {
  font-size: xx-large;
  font-weight: 900;
}

.game-score {
  display: flex;
  justify-content: space-between;
}

.game-logo {
  text-align: center;
}

.game-logo img {
  margin-left: 7%;
}

.game-input {
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 20px 0px;
}

.game-input p {
  text-align: center;
  font-size: 25px;
  margin-right: 3px;
  margin-bottom: 20px;
}

.game-alphabet {
  display: flex;
  align-items: revert;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin: auto;
}

.game-alphabet button {
  width: 45px;
  height: 45px;
  padding: 17px;
  margin: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  background-color: black;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.game-alphabet button:disabled {
  background-color: grey;
  cursor: none;
}

.game-reset {
  width: 75%;
  margin: auto;
  text-align: center;
  margin-top: 40px;
}

.game-reset button {
  color: white;
  background-color: black;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 40px;
  font-weight: 800;
}

.game-answer-section {
  text-align: center;
  margin-top: 20px;
}

.game-answer-section p {
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .hang {
    width: 100%;
  }
}
